.notification-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 14px;
}
.notification-top-bar p {
    padding: 0;
    margin: 0;
}
.notification-top-bar p a {
    padding: 5px 10px;
    border-radius: 3px;
    background: #FFF;
    color: #1ABC9C;
    font-weight: bold;
    text-decoration: none;
}